<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PopoverTestWH36.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A7879C61C9307A400217B45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A7879DF1C9307A500217B45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A7879EA1C9307A500217B45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
